$primary-color: #000!default;
$secondary-color: #fff!default;

$container: 1440px!default;
$textContainer: 495px!default;

$fontFamily: "Helvetica Neue", sans-serif!default;
$text-color: $primary-color!default;
